{% extends "base.html" %}
{% block content %}

<form method="POST">
    
    <div class="wrapper ">
      <h1>Register</h1>
      <div class="Textbox">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laboriosam tempore veritatis at iure, doloribus
        nemo officiis dolorum saepe minus pariatur, placeat eligendi cum totam earum quo dolor. Delectus excepturi minus
        quae deleniti blanditiis sit, soluta facere, aperiam quisquam vel corporis provident architecto fuga distinctio!
      </div>
      <div class="time">
        <div class="boxContainer">
          <div class="box box1"></div>
          <div class="box box2"></div>
          <div class="box box3"></div>
          <div class="box box4"></div>
          <div class="box box5"></div>
        </div>
        <!-- <span class="hour">00</span> -->
        <!-- <span class="colon">:</span> -->
        <span class="minute">00</span>
        <span class="colon">:</span>
        <span class="second">00</span>
        <span class="colon ms-colon">:</span>
        <span class="millisecond">00</span>
      </div>
      <div class="buttons">
        <button class="start">Start</button>
        <button class="stop">Stop</button>
        <button class="reset">Reset</button>
      </div>
      <div class="buttons">
        <button class="submit" type="submit">Submit</button>
      </div>
    </div>
  </form >
  

{% endblock %}